.App {
  text-align: center;
}

/* .blockFilterButton {
  display: flex;
} */

.blockFilterName {
  display: table;
  background-color: lightgreen;
  border: 1px solid green;
  border-radius: 5px;
  margin-left: 10px;
}

.blockFilterAge {
  display: table;
   background-color: lightgreen;
  border: 1px solid green;
  border-radius: 5px;
  margin-left: 10px;
}

.wrapperFilter {
  display: flex;
  justify-content: center;
}

.itemFilter:hover {
background-color: aqua;
}